/* registro.css */

.registro-container {
    margin-top: 50px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .registro-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .registro-container pre {
    margin-bottom: 10px;
  }
  
  .registro-container input[type="text"],
  .registro-container input[type="password"],
  .registro-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .registro-container button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
  }
  
  .registro-container div {
    color: red;
    margin-bottom: 10px;
    text-align: center;
  }
  