{% extends 'usuarios/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/crud.css' %}">
<h1 style="margin-left: 100px;margin-top: 170px;">Listado de Noticias </h1>

<ul class="task-list"style="margin-left: auto;margin-top: 50px; font-size: 20px">
    {% for task in tasks %}
        <li class="task-item">
            <a href="{% url 'task_detail' task.id %}">
                {% if task.important %}
                <strong>{{task.title}}</strong>
                {% else %}
                {{task.title}}
                {% endif %}
                <p class="task-description">{{task.description}}</p>
                <p class="task-user">{{task.user.username}}</p>
            </a>
        </li>
    {% endfor %}
</ul>

{% endblock %}
